[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tox = "*"

[dev-packages]
tox = "*"
pre-commit = "*"
ptpython = "*"
cryptography = "*"
pylint = "*"
autopep8 = "*"
